In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

In [4]:
Shop

mall.models.Shop

# Create

In [5]:
shop = Shop() # FirstShop (0), first_shop(x), firstShop(x), first_Shop(x)
shop.name = "투썸플레이스"
shop.description = ""
shop.telephone = "042-1234-1234"

In [6]:
shop.save()

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:42:12.790231', '2021-12-01 06:42:12.790231'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:42:12.790231', '2021-12-01 06:42:12.790231']

In [7]:
Shop.objects.create(
    name="셀프24시빨래방",
    telephone="042-1111-2222"
)
shop

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '042-1111-2222', '', '2021-12-01 06:42:13.358123', '2021-12-01 06:42:13.358123'); args=['셀프24시빨래방', '', '042-1111-2222', '', '2021-12-01 06:42:13.358123', '2021-12-01 06:42:13.358123']

# Select

In [8]:
qs = Shop.objects.all()

In [9]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

6 셀프24시빨래방 042-1111-2222
5 투썸플레이스 042-1234-1234

In [10]:
qs.order_by("-id") # "created_at") # 정렬은 가급적 단일 컬럼을 써야함

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# 데이터 뻥튀기

In [14]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:46:25.918889', '2021-12-01 06:46:25.918889'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:46:25.918889', '2021-12-01 06:46:25.918889']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:46:25.958801', '2021-12-01 06:46:25.958801'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:46:25.958801', '2021-12-01 06:46:25.958801']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:46:25.965783', '2021-12-01 06:46:25.965783'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:46:25.965783', '2021-12-01 06:46:25.965783']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:46:25.971766', '2021-12-01 06:46:25.971766'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:46:25.971766', '2021-12-01 06:46:25.971766']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:46:25.979756', '2021-12-01 06:46:25.979756'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:46:25.979756', '2021-12-01 06:46:25.979756']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:46:25.986726', '2021-12-01 06:46:25.986726'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:46:25.986726', '2021-12-01 06:46:25.986726']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:46:25.994774', '2021-12-01 06:46:25.994774'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:46:25.994774', '2021-12-01 06:46:25.994774']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:46:26.002748', '2021-12-01 06:46:26.002748'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:46:26.002748', '2021-12-01 06:46:26.002748']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:46:26.014723', '2021-12-01 06:46:26.014723'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:46:26.014723', '2021-12-01 06:46:26.014723']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:46:26.021694', '2021-12-01 06:46:26.021694'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:46:26.021694', '2021-12-01 06:46:26.021694']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:46:26.029676', '2021-12-01 06:46:26.029676'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:46:26.029676', '2021-12-01 06:46:26.029676']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:46:26.036656', '2021-12-01 06:46:26.036656'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:46:26.036656', '2021-12-01 06:46:26.036656']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:46:26.043640', '2021-12-01 06:46:26.043640'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:46:26.043640', '2021-12-01 06:46:26.043640']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:46:26.052613', '2021-12-01 06:46:26.052613'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:46:26.052613', '2021-12-01 06:46:26.052613']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:46:26.061596', '2021-12-01 06:46:26.061596'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:46:26.061596', '2021-12-01 06:46:26.061596']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:46:26.069567', '2021-12-01 06:46:26.069567'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:46:26.069567', '2021-12-01 06:46:26.069567']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:46:26.075552', '2021-12-01 06:46:26.075552'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:46:26.075552', '2021-12-01 06:46:26.075552']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:46:26.085524', '2021-12-01 06:46:26.085524'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:46:26.085524', '2021-12-01 06:46:26.085524']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:46:26.091508', '2021-12-01 06:46:26.091508'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:46:26.091508', '2021-12-01 06:46:26.091508']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:46:26.100485', '2021-12-01 06:46:26.100485'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:46:26.100485', '2021-12-01 06:46:26.100485']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:46:26.106751', '2021-12-01 06:46:26.106751'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:46:26.106751', '2021-12-01 06:46:26.106751']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:46:26.114738', '2021-12-01 06:46:26.114738'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:46:26.114738', '2021-12-01 06:46:26.114738']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:46:26.121711', '2021-12-01 06:46:26.121711'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:46:26.121711', '2021-12-01 06:46:26.121711']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:46:26.130687', '2021-12-01 06:46:26.130687'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:46:26.130687', '2021-12-01 06:46:26.130687']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:46:26.137668', '2021-12-01 06:46:26.137668'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:46:26.137668', '2021-12-01 06:46:26.137668']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:46:26.144659', '2021-12-01 06:46:26.144659'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:46:26.144659', '2021-12-01 06:46:26.144659']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:46:26.152628', '2021-12-01 06:46:26.152628'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:46:26.152628', '2021-12-01 06:46:26.152628']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:46:26.159612', '2021-12-01 06:46:26.159612'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:46:26.159612', '2021-12-01 06:46:26.159612']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:46:26.168587', '2021-12-01 06:46:26.168587'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:46:26.168587', '2021-12-01 06:46:26.168587']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:46:26.174570', '2021-12-01 06:46:26.174570'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:46:26.174570', '2021-12-01 06:46:26.174570']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:46:26.184544', '2021-12-01 06:46:26.184544'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:46:26.184544', '2021-12-01 06:46:26.184544']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:46:26.190529', '2021-12-01 06:46:26.190529'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:46:26.190529', '2021-12-01 06:46:26.190529']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:46:26.199504', '2021-12-01 06:46:26.199504'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:46:26.199504', '2021-12-01 06:46:26.199504']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:46:26.207754', '2021-12-01 06:46:26.207754'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:46:26.207754', '2021-12-01 06:46:26.207754']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:46:26.217725', '2021-12-01 06:46:26.217725'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:46:26.217725', '2021-12-01 06:46:26.217725']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:46:26.224329', '2021-12-01 06:46:26.224329'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:46:26.224329', '2021-12-01 06:46:26.224329']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:46:26.231311', '2021-12-01 06:46:26.232308'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:46:26.231311', '2021-12-01 06:46:26.232308']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:46:26.238292', '2021-12-01 06:46:26.238292'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:46:26.238292', '2021-12-01 06:46:26.238292']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:46:26.246271', '2021-12-01 06:46:26.246271'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:46:26.246271', '2021-12-01 06:46:26.246271']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:46:26.252703', '2021-12-01 06:46:26.252703'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:46:26.252703', '2021-12-01 06:46:26.252703']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:46:26.258894', '2021-12-01 06:46:26.258894'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:46:26.258894', '2021-12-01 06:46:26.258894']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:46:26.266870', '2021-12-01 06:46:26.266870'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:46:26.266870', '2021-12-01 06:46:26.266870']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:46:26.272854', '2021-12-01 06:46:26.272854'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:46:26.272854', '2021-12-01 06:46:26.272854']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:46:26.280835', '2021-12-01 06:46:26.280835'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:46:26.280835', '2021-12-01 06:46:26.280835']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:46:26.287000', '2021-12-01 06:46:26.287000'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:46:26.287000', '2021-12-01 06:46:26.287000']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:46:26.293982', '2021-12-01 06:46:26.293982'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:46:26.293982', '2021-12-01 06:46:26.293982']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:46:26.302958', '2021-12-01 06:46:26.302958'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:46:26.302958', '2021-12-01 06:46:26.302958']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:46:26.310942', '2021-12-01 06:46:26.310942'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:46:26.310942', '2021-12-01 06:46:26.310942']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:46:26.318915', '2021-12-01 06:46:26.318915'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:46:26.318915', '2021-12-01 06:46:26.318915']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:46:26.331880', '2021-12-01 06:46:26.331880'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:46:26.331880', '2021-12-01 06:46:26.331880']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:46:26.341855', '2021-12-01 06:46:26.341855'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:46:26.341855', '2021-12-01 06:46:26.341855']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:46:26.350829', '2021-12-01 06:46:26.350829'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:46:26.350829', '2021-12-01 06:46:26.350829']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:46:26.356813', '2021-12-01 06:46:26.356813'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:46:26.356813', '2021-12-01 06:46:26.356813']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:46:26.364793', '2021-12-01 06:46:26.364793'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:46:26.364793', '2021-12-01 06:46:26.364793']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:46:26.372770', '2021-12-01 06:46:26.372770'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:46:26.372770', '2021-12-01 06:46:26.372770']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:46:26.380750', '2021-12-01 06:46:26.380750'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:46:26.380750', '2021-12-01 06:46:26.380750']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:46:26.386733', '2021-12-01 06:46:26.386733'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:46:26.386733', '2021-12-01 06:46:26.386733']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:46:26.399702', '2021-12-01 06:46:26.399702'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:46:26.399702', '2021-12-01 06:46:26.399702']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:46:26.410669', '2021-12-01 06:46:26.410669'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:46:26.410669', '2021-12-01 06:46:26.410669']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:46:26.419645', '2021-12-01 06:46:26.419645'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:46:26.419645', '2021-12-01 06:46:26.419645']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:46:26.426637', '2021-12-01 06:46:26.426637'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:46:26.426637', '2021-12-01 06:46:26.426637']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:46:26.437625', '2021-12-01 06:46:26.437625'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:46:26.437625', '2021-12-01 06:46:26.437625']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:46:26.445603', '2021-12-01 06:46:26.445603'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:46:26.445603', '2021-12-01 06:46:26.445603']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:46:26.451587', '2021-12-01 06:46:26.451587'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:46:26.451587', '2021-12-01 06:46:26.451587']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:46:26.457571', '2021-12-01 06:46:26.457571'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:46:26.457571', '2021-12-01 06:46:26.457571']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:46:26.465551', '2021-12-01 06:46:26.465551'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:46:26.465551', '2021-12-01 06:46:26.465551']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:46:26.485751', '2021-12-01 06:46:26.485751'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:46:26.485751', '2021-12-01 06:46:26.485751']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:46:26.491510', '2021-12-01 06:46:26.492511'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:46:26.491510', '2021-12-01 06:46:26.492511']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:46:26.499492', '2021-12-01 06:46:26.499492'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:46:26.499492', '2021-12-01 06:46:26.499492']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:46:26.505835', '2021-12-01 06:46:26.505835'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:46:26.505835', '2021-12-01 06:46:26.505835']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:46:26.512817', '2021-12-01 06:46:26.512817'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:46:26.512817', '2021-12-01 06:46:26.512817']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:46:26.518800', '2021-12-01 06:46:26.519798'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:46:26.518800', '2021-12-01 06:46:26.519798']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:46:26.525783', '2021-12-01 06:46:26.525783'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:46:26.525783', '2021-12-01 06:46:26.525783']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:46:26.533761', '2021-12-01 06:46:26.533761'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:46:26.533761', '2021-12-01 06:46:26.533761']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:46:26.539549', '2021-12-01 06:46:26.539549'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:46:26.539549', '2021-12-01 06:46:26.539549']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:46:26.546531', '2021-12-01 06:46:26.546531'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:46:26.546531', '2021-12-01 06:46:26.546531']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:46:26.552550', '2021-12-01 06:46:26.552550'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:46:26.552550', '2021-12-01 06:46:26.552550']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:46:26.559511', '2021-12-01 06:46:26.559511'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:46:26.559511', '2021-12-01 06:46:26.559511']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:46:26.566476', '2021-12-01 06:46:26.566476'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:46:26.566476', '2021-12-01 06:46:26.566476']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:46:26.572461', '2021-12-01 06:46:26.572461'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:46:26.572461', '2021-12-01 06:46:26.572461']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:46:26.580440', '2021-12-01 06:46:26.580440'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:46:26.580440', '2021-12-01 06:46:26.580440']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:46:26.585426', '2021-12-01 06:46:26.585426'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:46:26.585426', '2021-12-01 06:46:26.585426']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:46:26.591410', '2021-12-01 06:46:26.591410'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:46:26.591410', '2021-12-01 06:46:26.591410']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:46:26.599389', '2021-12-01 06:46:26.599389'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:46:26.599389', '2021-12-01 06:46:26.599389']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:46:26.605372', '2021-12-01 06:46:26.605372'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:46:26.605372', '2021-12-01 06:46:26.605372']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:46:26.613352', '2021-12-01 06:46:26.613352'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:46:26.613352', '2021-12-01 06:46:26.613352']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:46:26.618337', '2021-12-01 06:46:26.618337'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:46:26.618337', '2021-12-01 06:46:26.618337']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:46:26.624358', '2021-12-01 06:46:26.624358'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:46:26.624358', '2021-12-01 06:46:26.624358']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:46:26.632340', '2021-12-01 06:46:26.632340'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:46:26.632340', '2021-12-01 06:46:26.632340']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:46:26.642353', '2021-12-01 06:46:26.642353'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:46:26.642353', '2021-12-01 06:46:26.642353']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:46:26.651327', '2021-12-01 06:46:26.651327'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:46:26.651327', '2021-12-01 06:46:26.651327']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:46:26.657209', '2021-12-01 06:46:26.657209'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:46:26.657209', '2021-12-01 06:46:26.657209']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:46:26.664191', '2021-12-01 06:46:26.664191'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:46:26.664191', '2021-12-01 06:46:26.664191']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:46:26.671172', '2021-12-01 06:46:26.671172'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:46:26.671172', '2021-12-01 06:46:26.671172']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:46:26.680150', '2021-12-01 06:46:26.680150'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:46:26.680150', '2021-12-01 06:46:26.680150']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:46:26.687130', '2021-12-01 06:46:26.687130'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:46:26.687130', '2021-12-01 06:46:26.687130']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:46:26.696105', '2021-12-01 06:46:26.696105'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:46:26.696105', '2021-12-01 06:46:26.696105']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:46:26.703088', '2021-12-01 06:46:26.703088'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:46:26.703088', '2021-12-01 06:46:26.703088']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:46:26.710080', '2021-12-01 06:46:26.710080'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:46:26.710080', '2021-12-01 06:46:26.710080']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:46:26.721039', '2021-12-01 06:46:26.721039'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:46:26.721039', '2021-12-01 06:46:26.721039']

# Slicing

In [15]:
qs = Shop.objects.all()

In [16]:
qs[:10]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>]>

In [17]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (106)>,
 <Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>]

In [18]:
qs[-10:] # last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [21]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

14 가게명#8 042-1234-9008
13 가게명#7 042-1234-9007
12 가게명#6 042-1234-9006
11 가게명#5 042-1234-9005
10 가게명#4 042-1234-9004
9 가게명#3 042-1234-9003
8 가게명#2 042-1234-9002
7 가게명#1 042-1234-9001
6 셀프24시빨래방 042-1111-2222
5 투썸플레이스 042-1234-1234

# Conditions

In [23]:
qs = Shop.objects.all()

In [24]:
# filter <->exclude
qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [25]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [27]:
# it : less than            <
# lte : less than equal     <=
# gt : greather than        >
#gte : greather than equal  >=

qs.filter(
    pk__gte=5,
    pk__lt=10, # less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [29]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [30]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [31]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# QuerySet is Lazy.

In [32]:
qs = Shop.objects.all()

In [33]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [34]:
qs = Shop.objects.all()
shop_list = list(qs) # 리스트 시키는 습관 X

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

# Get 1 Row

In [57]:
pk = 10
not_existed_pk = 100000

In [37]:
shop = Shop.objects.get(pk=pk) # 가져올 대상이 1개임을 기대, 1개가 아니면 예외 발생.
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [58]:
Shop.objects.get(pk=not_existed_pk) # Shop.DoesNotExist 예외발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [45]:
shop = Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [59]:
Shop.objects.filter(pk=not_existed_pk)[0]  #indexError 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [60]:
Shop.objects.filter(pk=not_existed_pk).first() # 지정 로우가 없다면

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

# Conditions(OR)

In [47]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) # AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [48]:
from django.db.models import Q

In [49]:
Q(pk__gte=5)

In [50]:
Q(pk__lt=10)

In [51]:
Q(pk__gte=5) & Q(pk__lt=10)

In [52]:
Q(pk__gte=5) | Q(pk__lt=10)

In [53]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [56]:
conditions = Q(pk__gte=5)
# condition = conditions | Q(pk__lt=10)
conditions | Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row ##

In [61]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [62]:
shop.name, shop.telephone

('가게명#4', '042-1234-9004')

In [64]:
shop.telephone = "042-8951-0000"

In [65]:
shop.save()

(0.015) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = '', "telephone" = '042-8951-0000', "photo" = '', "created_at" = '2021-12-01 06:46:25.971766', "updated_at" = '2021-12-01 07:39:11.368958' WHERE "mall_shop"."id" = 10; args=('가게명#4', '', '042-8951-0000', '', '2021-12-01 06:46:25.971766', '2021-12-01 07:39:11.368958', 10)

## 지정 범위의 Rows ##

In [66]:
qs = Shop.objects.all()
qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

(0.016) UPDATE "mall_shop" SET "description" = 'not used description'; args=('not used description',)

102

In [67]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-8951-0000', "photo" = '', "created_at" = '2021-12-01 06:46:25.971766', "updated_at" = '2021-12-01 07:43:08.825848' WHERE "mall_shop"."id" = 10; args=('가게명#4', 'not used description', '042-8951-0000', '', '2021-12-01 06:46:25.971766', '2021-12-01 07:43:08.825848', 10)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:46:25.965783', "updated_at" = '2021-12-01 07:43:08.846791' WHERE "mall_shop"."id" = 9; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:46:25.965783', '2021-12-01 07:43:08.846791', 9)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:46:25.958801', "updated_at" = '2021-12-01 07:43:08.863747' WHERE "mall_shop"."id" = 8; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:46:25.958801', '2021-12-01 07:43:08.863747', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:46:25.918889', "updated_at" = '2021-12-01 07:43:08.870726' WHERE "mall_shop"."id" = 7; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:46:25.918889', '2021-12-01 07:43:08.870726', 7)
(0.015) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1111-2222', "photo" = '', "created_at" = '2021-12-01 06:42:13.358123', "updated_at" = '2021-12-01 07:43:08.878706' WHERE "mall_shop"."id" = 6; args=('셀프24시빨래방', 'not used description', '042-1111-2222', '', '2021-12-01 06:42:13.358123', '2021-12-01 07:43:08.878706', 6)
(0.016) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:42:12.790231', "updated_at" = '2021-12-01 07:43:08.893401' WHERE "mall_shop"."id" = 5; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:42:12.790231', '2021-12-01 07:43:08.893401', 5)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()